name: Jalankan Bot Harian

on:
  schedule:
    - cron: '0 0 * * *' # Jalan tiap jam 07.00 WIB
  workflow_dispatch:    # Tombol manual

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
    - name: Ambil Kode
      uses: actions/checkout@v3

    - name: Siapkan Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install Library
      run: |
        pip install requests pandas

    - name: Jalankan Script
      env:
        NEWS_API_KEY: ${{ secrets.NEWS_API_KEY }}
        TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
        TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
      run: python mesin_analisis.py
